<div class="container mt-5">
    <h2 class="text-center mb-4 bg-black p-4 text-white fw-bolder">Add Employee</h2>
    <div class="input-group mb-3">
        <span class="input-group-text" id="text-frist-name"></span>
        <input type="text" class="form-control"  [(ngModel)]="employee.fristName" placeholder="Fristname" aria-label="Fristname" aria-describedby="basic-addon1">
      </div>
      
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"></span>
        <input type="text" class="form-control"  [(ngModel)]="employee.lastName" placeholder="Lastname" aria-label="Lastname" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <input type="text" class="form-control"  [(ngModel)]="employee.email" placeholder="Email" aria-label="Email" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2">.com</span>
      </div>
      
      <div class="input-group mb-3">
        <select class="form-select"  [(ngModel)]="employee.departmentId"aria-label="Default select example">
            <option selected>Department</option>
            <option value="it department ">It department</option>
            <option value="maintanance department">maintanance department</option>
            <option value="HR department">HR department</option>
          </select>
      </div>

      <div class="input-group mb-3">
        <select class="form-select"  [(ngModel)]="employee.roleId"aria-label="Default select example">
            <option selected>Role</option>
            <option value="level 1">level 1</option>
            <option value="level 2">level 2</option>
            <option value="level 3">level 3</option>
          </select>
      </div>
      <button type="button" class="btn btn-success"(click)="AddEmployee()">Add Employee</button>
      
      
</div>