<ul class="nav justify-content-center">
  <li class="nav-item">
    <button class="nav-link active" aria-current="page" href="#">Active</button>
  </li>
  <li class="nav-item">
    <button class="nav-link"[routerLink]="['/add-employee']">Add Employee</button>
  </li>
  <li class="nav-item">
    <button class="nav-link" [routerLink]="['/view-all']">View All Employee</button>
  </li>
  <li class="nav-item">
    <button class="nav-link disabled" aria-disabled="true">Disabled</button>
  </li>
</ul>
