<div class="container">
    <h2 class="text-center mb-4 bg-black p-4 text-white fw-bolder">View all Employee</h2>
    <table class="table  ">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Role</th>
        </tr>

        <tr *ngFor="let employee of employeeList">
           <td>{{employee.id}}</td>
           <td>{{employee.fristName+"  "+employee.lastName}}</td>
           <td>{{employee.email}}</td>
           <td>{{employee.departmentId}}</td>
           <td>{{employee.roleId}}</td>
        </tr>
    </table>
</div>
